:root { --footer-height: 6rem; }

html, body {
    margin: 0;
    height: 100%;

    font-size: 12px;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    position: relative;
    font-size: 16px;
    padding-bottom: var(--footer-height);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: var(--footer-height);
}

a { text-decoration: none; }

.logo {
    width: 10rem;
    height: 5.5rem;
}

.logo-image {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
}