@page
@model LoginModel

@{
    Layout = "";
}

<link rel="stylesheet" href="~/css/default-style.css"/>
<link rel="stylesheet" href="~/css/pages/login.css"/>

<div class="login-page-container">
    <div class="login-form-header">
        <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/icons/logo.svg" alt="pinpoint-logo" class="logo-image"/>
        </a>
    </div>
    <div class="login-form-container">
        <form class="login-form">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button>login</button>
            <p class="message">Not registered? <a asp-area="Identity" asp-page="/Account/Register">Create an account</a></p>
        </form>
    </div>
</div>