@page
@model LoginModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/pages/login.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/components/button.css" asp-append-version="true"/>

<div class="login-page-wrapper">
    <div class="login-form-wrapper">
        <div class="login-form-title">
            <img src="~/icons/logo-head.svg" alt="pinpoint-logo" class="login-form-logo"/>
            <h1>Welcome to PinPoint</h1>
        </div>
        <form class="login-form" id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-wrapper">
                <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="Email"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-wrapper">
                <input asp-for="Input.Password" class="input" autocomplete="current-password" aria-required="true" placeholder="Password"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <button class="default-button accent" type="submit">Log In</button>
        </form>
        <div>
            <p>
                Not a member? <a class="sign-up-anchor" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a> and become one!
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}