@page
@model RegisterModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/pages/login.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/components/button.css" asp-append-version="true"/>

<div class="login-page-wrapper">
    <div class="login-form-wrapper">
        <div class="login-form-title">
            <img src="~/icons/logo-head.svg" alt="pinpoint-logo" class="login-form-logo" />
            <h1>Welcome to PinPoint</h1>
        </div>
        <form class="login-form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-wrapper">
                <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="Email"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-wrapper">
                <input asp-for="Input.Password" class="input" autocomplete="new-password" aria-required="true" placeholder="Password"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="input-wrapper">
                <input asp-for="Input.ConfirmPassword" class="input" autocomplete="new-password" aria-required="true" placeholder="Confirm Password"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button class="default-button accent" type="submit">Register</button>
        </form>
        <div>
            <p>
                Already a member? <a class="sign-up-anchor" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log in</a> and get started!
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}