@model Application.Dto.AboutDto

@{
    Layout = "_NavLayout";
}

<link rel="stylesheet" href="~/css/pages/about.css" asp-append-version="true" />
<div class="page-wrapper">
    <div class="about-container">
        <h1>About PinPoint</h1>
        <p>
            PinPoint is a content sharing and discovery platform inspired by Pinterest. Users can save and share images, articles, and other content in the form of "pins" to create and manage collections of content, called "boards."
        </p>
        <p>
            Our mission is to help people discover new ideas and find inspiration to enhance their lives, hobbies, and interests.
        </p>
    </div>
</div>