@model List<Application.Dto.PinDto>

@{
    Layout = "_NavLayout";
}

<div class="container">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            foreach (var pin in Model)
            {
                <div class="col-md-4">
                    <div class="pin-item mb-4">
                        <img src="@pin.Picture" alt="@pin.Title" class="pin-image">
                        <h5 class="pin-title">@pin.Title</h5>
                    </div>
                </div>
            }
        }
    </div>
</div>