@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Domain.Entities
@inject SignInManager<User> SignInManager

<link rel="stylesheet" href="~/css/pages/partial/nav-login-partial.css" asp-append-version="true"/>

<ul class="navbar-nav d-flex align-items-center gap-2">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item d-flex align-items-center">
            <span class="material-icons">notifications</span>
        </li>
        <li class="nav-item profile-wrapper">
            <div class="nav-avatar" id="nav-avatar">
                <img class="nav-avatar-image" src="~/icons/avatar-ex.jpg" alt="nav-avatar"/>
            </div>
            <ul class="nav-avatar-dropdown" id="nav-avatar-dropdown" hidden="true">
                <li class="nav-avatar-dropdown-item" id="profile-action">
                    <form asp-area="Identity" asp-page="/Account/Manage/Index" method="get">
                        <div class="nav-avatar-dropdown-item-container submit">
                            <span class="material-icons">person</span>
                            <p>View Profile</p>
                        </div>
                    </form>
                </li>
                <li class="nav-avatar-dropdown-item">
                    <div class="nav-avatar-dropdown-item-container ">
                        <span class="material-icons">settings</span>
                        <p>Settings</p>
                    </div>
                </li>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("ADMIN"))
                {
                    <li class="nav-avatar-dropdown-item">
                        <form asp-area="Identity" asp-controller="Admin" asp-action="AdminPanel" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                            <div class="nav-avatar-dropdown-item-container submit" id="admin-panel-action">
                                <span class="material-icons">admin_panel_settings</span>
                                <p>AdminPanel</p>
                            </div>
                        </form>
                    </li>
                }
                <li class="nav-avatar-dropdown-item">
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                        <div class="nav-avatar-dropdown-item-container submit" id="logout-action">
                            <span class="material-icons">logout</span>
                            <p>Log Out</p>
                        </div>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <div class="anchor-button accent">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Log In</a>
            </div>
        </li>
    }
</ul>

@if (SignInManager.IsSignedIn(User))
{
    <script src="~/js/pages/partial/nav-login-partial.js"></script>
}