:root {
    --gray-bg: rgb(245, 245, 245);
    --gray-bg-focus: rgb(225, 225, 225);
}

.search-bar {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
}

#search-input {
    flex: 1 1 auto;

    border: none;
    border-radius: var(--radius);
    height: 2.8rem;
    padding: 0 3.5rem 0 1.5rem;

    background: var(--gray-bg);
    font-size: 1rem;
}

#search-input:focus {
    outline: none !important;
}

#search-input:hover {
    background: var(--gray-bg-focus);
    cursor: pointer;
}

#search-button {
    margin-left: -3.5rem;
    border: none;
    width: 3.5rem;
    height: 2.8rem;
    background: none;
}